body, html
{
	margin: 0;
	padding: 0;
    font: 80% Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.7em;

}
html{
	body{
		// basic layout,
		// try not to add css here that is not layout related
		.react-container{
			.app{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.search-opm {
					position: absolute;
					top: 1em;
					right: 1em;
					max-width: 20em;
					width: 90%;
				}
				.header{
					min-height: 100px;
					width: 100%;
				}
				.flex-container{
					display: flex;
					flex-direction: row;
					width: 100%;
					flex-grow: 4;
					background-color: #f1f1f1;
					.sidebar{
						height: 100%;
					}
					.main-content{
						flex-grow: 4;
						min-height: 450px;
						min-width: 200px;
						max-width: 80%;
						background-color: white;
						border-left: 1px solid grey;
						border-right: 1px solid grey;
					}
				}
				.footer-box {
					align-self: flex-end;
					width: 100%;
					min-height: 100px;
				}
			}
		}
	}
}




@font-face
{
	font-family: "Arial";
	font-weight: 400;
	font-style: normal;
	src: url('fonts/arial.ttf');
}
@font-face
{
	font-family: "Comic Sans";
	font-weight: 400;
	font-style: normal;
	src: url('fonts/comic.ttf');
}
@font-face
{
	font-family: "Courier New";
	font-weight: 400;
	font-style: normal;
	src: url('fonts/cour.ttf');
}
@font-face
{
	font-family: "Georgia";
	font-weight: 400;
	font-style: normal;
	src: url('fonts/georgia.ttf');
}
@font-face
{
	font-family: "Impact";
	font-weight: 400;
	font-style: normal;
	src: url('fonts/impact.ttf');
}
@font-face
{
	font-family: "Tahoma";
	font-weight: 400;
	font-style: normal;
	src: url('fonts/tahoma.ttf');
}
@font-face
{
	font-family: "Times New Roman";
	font-weight: 400;
	font-style: normal;
	src: url('fonts/times.ttf');
}
@font-face
{
	font-family: "Trebuchet";
	font-weight: 400;
	font-style: normal;
	src: url('fonts/trebuc.ttf');
}
@font-face
{
	font-family: "Verdana";
	font-weight: 400;
	font-style: normal;
	src: url('fonts/verdana.ttf');
}
