.fancy-text {
    font-family: 'Leckerli One';
    font-size: 3em;
}

.cover-text {
    font-size: 4.5em;
    animation: rainbow 5s infinite;
}

.game-btn {
    margin: 0.35em;
    width: 200px;
}

.game-btn:hover {
    background-color: rgba(163, 173, 255, 0.089);
    color: white;
}

.left {
    text-align: left;
}

.two-col {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

@keyframes rainbow {
    0% {
        color: #ffbbbb;
    }
    10% {
        color: #ffdbb7;
    }
    20% {
        color: #ffff9d;
    }
    30% {
        color: #d6ffaa;
    }
    40% {
        color: #afffaf;
    }
    50% {
        color: #aaffd5;
    }
    60% {
        color: #c5ffff;
    }
    70% {
        color: #a0d1ff;
    }
    80% {
        color: #aaaaff;
    }
    90% {
        color: #d0a1ff;
    }
    100% {
        color: #ffbbbb;
    }
}