* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    /* https://flatuicolors.com/palette/se */
    --primary: #05c46b;
    --secondary: #0be881;
    --p-yellow: #ffdd59;
    --s-yellow: #ffd32a;
    --p-orange: #ffc048;
    --s-orange: #ffa801;
    --p-purple: #575fcf;
    --s-purple: #3c40c6;
    --p-blue: #4bcffa;
    --s-blue: #0fbcf9;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.badges {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.badges img {
    padding: 1em;
}

.fbox {
    margin: 2em;
    max-width: 50%;
}

.single {
    max-width: 60vw;
}

.no-top{
    margin-top: 0;
}

.content {
    width: 40vw;
    padding: 2em;
    padding-top: 3em;
}

.home-gfx {
    height: 400px;
}

.tagline {
    font-size: 3em;
    color: var(--primary);
    margin: .3em 0 .5em 0;
}

.tagline span {
    color: var(--s-purple);
}

/** CONTACT PAGE **/

form {
    max-width: 600px;
    margin: 1em auto;
    margin-top: 0;
    padding: 1.5em;
    background: #f8f8f8;
    border-radius: 8px;
}

form h1 {
    margin: 0 0 30px 0;
    text-align: center;
    color: var(--s-purple);
    font-size: 2em;
}

form h1 small {
    font-size: .6em;
    color: var(--p-purple);
}

form label {
    font-weight: bold;
    padding-bottom: 5px;
}

form fieldset {
    border: none;
}

form button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: .5em;
    background-color: var(--s-purple);
    padding: 1em;
    color: white;
    font-size: 1.2em;
    transition: .5s all;
}

form button:hover {
    background-color: var(--p-purple);
}

form button:active {
    background-color: var(--s-purple);
}

input, textarea {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin-top: 5px;
    margin-bottom: 1em;
    padding: .5em;
    width: 100%;
    background-color: #e8e8e8;
    color: #363636;
    font-size: 16px;
}

.explanations {
    max-width: 500px;
    font-size: 1.5em;
}

.explanations p {
    padding: 1em;
    padding-top: .5em;
}

.bigger-text {
    font-size: 1.25em;
}

.link {
    text-decoration: none;
    color: var(--s-purple);
    margin-top: 0.75em;
}

.link p {
    text-align: center;
}