.ads {
    display: flex;
    width: 60vw;
    flex-wrap: wrap;
    justify-content: center;
}

.ad-thumbnail {
    margin: 1em;
    padding: 1em;
    border: 1px solid #d2dae2;
    transition: 0.5s all;
}

.ad-thumbnail:hover {
    border: 1px solid var(--secondary);
    background-color: #f7f7f7;
}

.ad-thumbnail h3 {
    text-align: center;
}

.t_title {
    font-weight: bold;
    text-align: right;
    padding: .1em .5em .1em .2em;
}

.ad-thumbnail tr {
    margin-top: .4em;
}

.all-ads {
    margin: 1em;
    margin-bottom: 2em;
    width: 62vw;
    border-collapse: collapse;
    text-align: center;
    border: none;
}

.all-ads th, .all-ads td {
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

.all-ads tr {
    transition: 0.25s all;
}

.all-ads tr:hover {
    background-color: #f7f7f7;
}

.t_des {
    word-wrap: break-word;
}

#ad-chart {
    width: 50vw;
    min-width: 800px;
}

.graphdata {
    width: 50vw;
}

.note-text {
    color: grey;
    margin: 1em;
}

.bot {
    margin-bottom: 1em;
}

.temp-ad h3 {
    text-align: center;
    font-size: 2em;
}

.temp-ad tr, .temp-ad td {
    padding: 1em;
    padding-bottom: 0;
    font-size: 1em;
}

.create-new-ad {
    margin-bottom: 2em;
}

.error {
    color: var(--p-red);
    margin-bottom: 1em
}
