/* Custom styles */
$blue: #3867d6;
$red: #eb3b5a;
$black: #1e272e;
$orange: #fa8231;
$yellow: #f7b731;
$green: #20bf6b;
$teal: #0fb9b1;
$pink: #fc5c65;
$purple: #8854d0;

/* Bootstrap import */
@import '~bootstrap/scss/bootstrap.scss'
