/* Custom styles */
$white: #ffffff;
$blue: #3867d6;
$indigo: #3B3B98;
$purple: #8854d0;
$pink: #fc5c65;
$red: #eb3b5a;
$orange: #fa8231;
$yellow: #f7b731;
$green: #20bf6b;
$teal: #0fb9b1;
$cyan: #45aaf2;
$gray-lighter: #d1d8e0;
$gray: #778ca3;
$gray-dark: #4b6584;
$black: #1e272e;

$colors: (
    blue: $blue,
    indigo: $indigo,
    purple: $purple,
    pink: $pink,
    red: $red,
    orange: $orange,
    yellow: $yellow,
    green: $green,
    teal: $teal,
    cyan: $cyan,
    white: $white,
    gray: $gray,
    gray-dark: $gray-dark,
) !default;

$theme-colors: (
    primay: $blue,
    secondary: $gray,
    success: $green,
    info: $teal,
    warning: $yellow,
    danger: $red,
    light: $gray-lighter,
    dark: $gray-dark
) !default;

/* Nav */
span.logo {
    font-size: 2.5em;
    font-weight: 600;

    a {
        text-decoration: none;
    }
}

ul.nav {
    display: inline-block;

    li {
        display: inline-block;
        margin-right: 1em;
        &:last-child {margin-right: 0;}

        a {
            color: $black;
            text-decoration: none;
        }
    }
}

/* Bootstrap import */
@import '~bootstrap/scss/bootstrap.scss'
