/* Mixins */
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}

/* Custom styles */
$white: #ffffff;
$blue: #3867d6;
$indigo: #3B3B98;
$purple: #8854d0;
$pink: #fc5c65;
$red: #eb3b5a;
$orange: #fa8231;
$yellow: #f7b731;
$green: #20bf6b;
$teal: #0fb9b1;
$cyan: #45aaf2;
$gray-lighter: #d1d8e0;
$gray: #778ca3;
$gray-dark: #4b6584;
$black: #1e272e;

$colors: (
    blue: $blue,
    indigo: $indigo,
    purple: $purple,
    pink: $pink,
    red: $red,
    orange: $orange,
    yellow: $yellow,
    green: $green,
    teal: $teal,
    cyan: $cyan,
    white: $white,
    gray: $gray,
    gray-dark: $gray-dark,
) !default;

$theme-colors: (
    primay: $blue,
    secondary: $gray,
    success: $green,
    info: $teal,
    warning: $yellow,
    danger: $red,
    light: $gray-lighter,
    dark: $gray-dark
) !default;

/* Additional font colors */
.text-white {color: $white;}
.text-blue {color: $blue;}
.text-indigo {color: $indigo;}
.text-purple {color: $purple;}
.text-pink {color: $pink;}
.text-red {color: $red;}
.text-orange {color: $orange;}
.text-yellow {color: $yellow;}
.text-green {color: $green;}
.text-teal {color: $teal;}
.text-cyan {color: $cyan;}
.text-gray-lighter {color: $gray-lighter;}
.text-gray {color: $gray;}
.text-gray-dark {color: $gray-dark;}
.text-black {color: $black;}

/* Additional typography */
.font-weight-semilight {font-weight: 400 !important;}
.font-weight-regular {font-weight: 500 !important;}
.font-weight-semibold {font-weight: 600 !important;}

/* Nav */
span.logo {
    font-size: 2.5rem;
    font-weight: 600;

    a {
        text-decoration: none;
    }
}

ul.nav {
    display: inline-block;

    li {
        display: inline-block;
        margin-right: 2rem;
        &:last-child {margin-right: 0;}

        a {
            @include transition(all, 75ms);
            color: $black;
            text-decoration: none;
            font-size: 1.2rem;
            border-bottom: 2px solid transparent;

            &:hover, &.router-link-active {
                padding-bottom: .2rem;
                border-color: $gray-lighter;
            }

            &.router-link-active {
              border-color: $blue;
            }
        }
    }
}

/* Business Dashboard */
.business-card {
  cursor: pointer;
  @include transition(all, 100ms);
  &:hover {
    border-color: $gray;
    background: #f3f3f3f3;
    opacity: .90;
  }
}

.row a:hover {
    text-decoration: none;
}

/* Bootstrap import */
@import '~bootstrap/scss/bootstrap.scss'
